
.container {
    width: 300px;
    padding: 20px;
    margin: auto;
    border: 2px solid lightgrey;
    border-radius: 15px;
    text-align: center;
    box-shadow: 5px 5px 5px grey;
}

table {
    margin: auto;
}

table, tr, td {
    border-collapse: collapse;
    border: 1px solid #0094ff;
}

td {
    border-bottom: 1px solid #000000;
    padding: 10px;
}

h1 {
    color: #ff6a00;
    font-family: 'Microsoft Sans Serif';
}
